<div class="row-fluid">
    <div class="form-actions">
        <a href="#/new" class="btn btn-primary">Create note</a>
        <a href="#/profile" class="btn btn-primary">Edit profile</a>
    </div>
</div>

<my-notebook notes="getNotes()" ondelete="deleteNote(id)"></my-notebook>