<div class="row-fluid">
    <div class="form-actions">
        <a href="#/new" class="btn btn-primary">Create note</a>
        <a href="#/profile" class="btn btn-primary">Edit profile</a>
    </div>
</div>

<br>
<div class="accordion" id="accordion2">

    <div class="accordion-group" ng-repeat="note in notes" draggable>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ note.id }}">
                {{note.title}}
            </a>
        </div>
        <div id="collapse{{ note.id }}" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="row-fluid">
                    <div class="span12">
                        {{ note.text }}
                        <div class="row-fluid">
                            <div class="span11"><pre> {{ note | filter:json }}</pre></div>
                            <div class="span1">
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <a class="btn" ng-click="deleteNote(note.id)"><i class="icon-remove"></i></a>
                                        <a class="btn" href="#/edit/{{ note.id }}"><i class="icon-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>