<ul class="thumbnails">
    <li ng-repeat="note in notes" draggable>
        <my-note class="span2 thumbnail" delete="deleteNote(note.id)" note="note">
            <span class="pull-left">{{note.title}}</span>
            <a class=" close pull-right" ng-click="delete()"><i class="icon-remove"></i></a>
            <a class=" close pull-right" href="#/edit/{{ note.id }}"><i class="icon-edit"></i></a>
            <hr/>
            <hr/>
            <hr/>
            <p></p>
        </my-note>
    </li>
</ul>